@import 'base/variables';

* {
 font: 'Museo Sans Cyrcl', sans-serif;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

@import 'blokcs/promo';
@import 'blokcs/header';
@import 'blokcs/buttons';
@import 'blokcs/advantages';
@import 'blokcs/consultation';
@import 'blokcs/forms';
@import 'blokcs/sliders';
@import 'blokcs/catalog';
@import 'blokcs/modals';
@import 'base/media';
