.button {      
    width: 153px;
    height: 32px;
    background: $main-color;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    &:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    }
    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;              
    }

    &_form {
        margin-top: 17px;
    }
    
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }


}
