.reviews {
    min-height: 915px;
    padding: 0 0 48px 0px;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;       
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;        
    }
    &__blokc {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            width: 169px;
            height: 169px;            
        }        
    }
    &__item {
        width: 680px;
        margin-left: 61px;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__marathon {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;       
        color: #646464;

    }
    &__descr {
        margin-top: 10px;        
        font-size: 16px;
        line-height: 24px;        
    }

}